@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap');
@import "./reset.css";
@import "./variable.css";
@import "./navigation-bar.css";
@import "./media-query.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Outlined");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");


* {
  box-sizing: border-box;
}

body{
  font-family: "Gowun Batang", serif;
  font-weight: 400;
  font-style: normal;
  background-color: var(--background-purple);
  color: white;
}

input {
  border: none;
  outline: none;
  appearance: none;
}

.display-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.position-relative {
  position: relative;
}